/theme colors/
$black: black;
$white: white;
$grey: grey;

/*mars colors; source: https://engelsjk.com/posts/contour-art-of-mars-topography/*/
$darkred: #842323;
$darkorange: #C5532B;
$lightorange: #DF8F44;
