// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content'; // Imported partials created by me
@import 'font.variables';
@import 'display.variables';

.main {
  background-color: $gray;
  width: 59.48em;
  height: 29.625em;
  //media query mixin to change first background height and width for screen//
  @include $mq {
    width: auto;
    height: 100%;
  }

  &__first-background {
    display: $flex;
    flex-direction: $horizontal;
    flex-wrap: $wrap;
    padding: 1em;
    background-color: $white;
    width: 52.938em;
    height: 23.938em;
    //media query mixin to change flex direction to columns and height and width for screen//
    @include $mq {
      display: $flex;
      flex-direction: $horizontal;
      flex-wrap: $wrap;
      width: auto;
      height: 100%;
    }
  }

  &__head-title {
    padding: 1em 0;
    text-align: $center;
    width: 40%;
    align-self: $center;
    //media query mixin to change padding for screen//
    @include $mq {
      padding: 1em;
      width: auto;
    }
  }

  &__h1 {
    font-size: $large;
    color: darken($gray, 40%);
  }

  &__p {
    color: darken($gray, 20%);
    font-style: $italic;
    font-size: $medium;
    //media query mixin to change font size for screen//
    @include $mq {
      font-size: $small;
    }
  }

  &__img-headshot {
    width: 60%;
    border-radius: 50%;
    //media query mixin to change image size for screen//
    @include $mq {
      width: 100%;
    }
  }

  &__card-content {
    background-color: $gray;
    align-self: $center;
    //media query mixin to change content card padding for screen//
    @include $mq {
      padding: 0 1em;
      width: 100%;
    }
  }

  &__p-content {
    color: darken($gray, 40%);
    font-size: $medium;
    //media query mixin to change p font size for screen//
    @include $mq {
      font-size: $small;
    }
  }

  &__linkedin-img {
    float: left;
    padding-right: 1em;
    //media query mixin to change linkedin image size for screen//
    @include $mq {
      padding-right: 0.5em;
      width: 15%;
    }
  }
}
